.navbar.is-b31b1b {
	background-color: #b31b1b;
	color: #ffffff;
}

.has-white-text {
	color: #ffffff
}

html, body {
	font-family: "Open Sans", BlinkMacSystemFont,
		-apple-system,
		"Segoe UI",
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		"Fira Sans",
		"Droid Sans",
		"Helvetica Neue",
		Helvetica,
		Arial,
		sans-serif;
}